.google_translate_element {
  display: none;
}

.ChooseLanguageWrapper {
      display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: end;
    width: 1290px;
    margin-top: 1rem;
}

.ChooseLanguageWrapper button {
  transition: box-shadow 0.3s ease;
}

.ChooseLanguageWrapper button:hover {
  cursor: pointer;
}

.ChooseLanguageWrapper button {
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

@media (max-width: 1410px) {
  .ChooseLanguageWrapper {
    padding: 8px;
  }
}
